//------------------------------------//
//  Container
//------------------------------------//

.b-container {
	margin: 0 auto;
	max-width: $bp-max;
	padding: 0 20px;
	width: 100%;

	@include mq(550px) {
		padding: 0 50px;
	}

	@include mq($bp-desktop) {
		padding: 0 100px;
	}
}

.b-flex {
	display: flex;
	&:before, &:after { display: none;}

	&.is-full-height {
		min-height: calc(100vh - 86px);
		padding: 64px 0 150px 0;
	}
}

	.s-home .b-flex.is-full-height { min-height: 100vh;}

.b-flex--center {
	justify-content: center;
	flex-direction: column;
}

.b-page-grid {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 30px;

	@include mq(900px) {
		grid-template-columns: 2fr 1fr;
	}
}

.b-page-grid--main {

	@include mq(600px) {
		padding-right: 1em;
	}
	
	@include mq(900px) {
		grid-column: 1/2;
	}
}

.b-page-grid--full {
	

	@include mq(900px) {
		grid-column: 1/3;
	}

	&.has-top-border {
		border-top: solid 1px $color-text;
		margin-top: 20px;
		padding-top: 40px;
	}
}

.b-page-grid--side {
	@include mq(900px) {
		grid-column: 2/3;
		justify-self: end;
	}
}

.b-inner {
	background: white;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 3px rgba($color-blue, 0.1);
	margin: 0 auto;
	max-width: $bp-max;
	padding: 50px 0;

	@include mq(1200px, max) {
		margin: 0 10px;
	} 

	@include mq(549px, max) {
		margin: 0;
		border-radius: 0;
	}
}

.b-grid--half {
	display: grid;
	grid-column-gap: 30px;
	

	@include mq(800px) {
		grid-template-columns: 1fr 1fr;
	}
}