
//------------------------------------//
//  Font Sizes
//------------------------------------//

@mixin font-size-xxl {
	@include font-size(40);
	line-height: 1.2;

	@include mq($bp-tablet) {
		@include font-size(60);
	}

	@include mq($bp-desktop) {
		@include font-size(90);
	}
}

@mixin font-size-xl {
	@include font-size(44);
	line-height: 1.25;

	@include mq($bp-tablet) {
		@include font-size(48);
	}

	@include mq($bp-desktop) {
		@include font-size(56);
	}
}

@mixin font-size-l {
	@include font-size(26);
}

@mixin font-size-m {
	@include font-size(18);
}

@mixin font-size-s {
	@include font-size(16);
}

@mixin font-size-xs {
	@include font-size(14);
}




//------------------------------------//
//  Font Weights
//------------------------------------//

.t-bold {
	font-weight: $font-weight-bold;
}
