  <footer class="p-footer">
    <div class="b-container">
      <h3 class="p-footer__title">Not found what you need?</h3>
      <ul class="p-footer__nav">
        <li><a href="/projects">View my work</a></li>
        <li><a href="/services">See what I can do</a></li>
        <li><a href="/about">Find out about me</a></li>
        <li><a href="/blog">Read my blog</a></li>
        <li><a href="/contact">Get in touch</a></li>
      </ul>

      <p class="p-footer__copy">&copy; 2018 Rick Chadwick</p>
    </div>
  </footer>

</body>
</html>