<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/master.css?v0.1">
</head>

{% if page.section == "website" %}
  <body class="s-website">
{% elsif page.section == "developer" %}
  <body class="s-developer">
{% elsif page.section == "none" %}
  <body class="s-none">
{% endif %}

  <header class="p-header">
    <a href="/" class="p-header__title">Hi I’m Rick, I Make Websites</a>
    <nav class="p-header__nav">
      <ul class="b-nav">
        <li>I need a</li>
        {% if page.section != "website" %}
          <li><a href="/i-need-a-website/" class="b-btn b-btn--small b-btn--web">website</a></li>
        {% endif %}
        {% if page.section != "developer" %}
          <li><a href="/i-need-a-developer/" class="b-btn b-btn--small b-btn--dev">developer</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>