//------------------------------------//
//  Colours
//------------------------------------//

$color-body 		: 	#F9FAFD;
$color-text 		: 	#0F2043;

$color-theme 		: 	red;

$color-neutral 		: 	grey;

$color-link 		: 	#3777FF;


$color-blue : #3777FF;
$color-green : #37FFBF;
$color-pink : #FF3777;
$color-orange : #FF9E37;

$color-positive: #37ff5b;
$color-negative: #ea004b;