//------------------------------------//
//  Colours
//------------------------------------//

$color-body 		: 	#fff;
$color-text 		: 	#0F2043;

$color-theme 		: 	red;

$color-neutral 		: 	grey;

$color-link 		: 	$color-theme;


$color-blue : #3777FF;
$color-green : #37FFBF;
$color-pink : #FF3777;
$color-orange : #FF9E37;