//------------------------------------//
//  Families
//------------------------------------//

@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

$font-family              : 'Muli', sans-serif;
$heading-font-family 			: 'Muli', sans-serif;





//------------------------------------//
//  Sizes
//------------------------------------//

$font-size                 		: 16;
$line-height               		: 1.5;





//------------------------------------//
//  Weights
//------------------------------------//

$font-weight 					: 400;
$font-weight-bold 		: 700;







